/Redirector/obj
/Redirector/bin
/Redirector.Application/obj
/Redirector.Application/bin
/Redirector.Application.Evaluators/.Language/bin
/Redirector.Application.Evaluators/.Language/obj
/Redirector.Application.Evaluators/Browser/obj
/Redirector.Application.Evaluators/Browser/bin
/Redirector.Application.Evaluators/DateRange/obj
/Redirector.Application.Evaluators/DateRange/bin
/Redirector.Application.Evaluators/Device/obj
/Redirector.Application.Evaluators/Device/bin
/Redirector.Domain/obj
/Redirector.Domain/bin
/Redirector.Persistence/obj
/Redirector.Persistence/bin
